@import "bootstrap.min.css";

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-options {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 1rem;
}

.form-options .checkbox {
    font-weight: 400;
}

.form-options .form-floating:focus-within {
    z-index: 2;
}
